<div class="hero-section block-banner {% if block.settings.fullscreen != blank %} expand{%- else -%} inner{%- endif -%}">
    <div class="flex {{ block.settings.text_align }}">
      <div class="text">
        {%- if block.settings.title != blank -%}
        <{{block.settings.header_tag}} class="h1">{{ block.settings.title }} </{{block.settings.header_tag}}>
        {%- endif -%}
      </div>
      
      {%- if block.settings.arrow_down != blank -%}
      <div class="downer">
        <button class="button nude" id="nextButton">
          {% include 'icon-arrow_down.liquid' %}
        </button>
      </div>
      {%- endif -%}
      
      
            
            {%- if block.settings.button_link != blank -%}
              <div class="cta">
              {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
              {%- capture ariaLabel -%}
                {{- block.settings.button_label -}}
                {%- if block.settings.button_link.type == 'frontpage_link' -%}
                  : {{ 'homepage.general.title' | t -}}
                {%- elsif block.settings.button_link.type == 'catalog_link' -%}
                  : {{ 'collections.catalog.title' | t -}}
                {%- elsif block.settings.button_link.object.title -%}
                  : {{ block.settings.button_link.object.title -}}
                {%- endif -%}
              {%- endcapture -%}
  
              <a href="{{ block.settings.button_link }}"
                class="button alt"
                aria-label="{{ ariaLabel }}">
                {{- block.settings.button_label | escape -}}
              </a>
            {%- endif -%}
            </div>
          {%- endif -%}
    </div>
  {%- assign the_image = block.settings.image -%}
  {%- assign mobimage = block.settings.image -%}
  {%- if block.settings.mobimage != blank -%}
    {%- assign mobimage = block.settings.mobimage -%}
  {%- endif -%}
  {%- if block.settings.button_link != blank -%}
  <a href="{{ block.settings.button_link }}" aria-label="{{ ariaLabel }}">
  {%- endif -%}
  
  {% include 'hero_image' %}
  
  {%- if block.settings.button_link != blank -%}
  </a>
  {%- endif -%}
  
</div>