
  {% unless block.settings.video_url == blank %}
  <div class="block_video block_image {% if block.settings.width == 'full' %} pt-m pb-s sides-none{% else %}{{ block.settings.alignment }}  top-{{ block.settings.spacing }} bot-{{ block.settings.spacing_bottom }}  bg-{{ block.settings.block_background }}{% endif %}">
    <div class="inner">
      <div class="content_vid">
        <!-- max width 870px -->
        <video autoplay loop muted playsinline>
          <source src="{{ block.settings.video_url }}">
          Sorry, your browser doesn't support embedded videos.
          </source>
        </video>
      </div>
    </div>
  </div>
{% endunless %}
