<div class="product_card{% unless product.available %} sold_out{% endunless %} product_card_min flex">
  <a href="{{ product.url }}">
      {% for image in product.images limit:1 %}
      <picture>
        <source srcset="{{ image.src | img_url: '808x948', crop: 'center' }} 2x, {{ image.src | img_url: '404x474', crop: 'center' }}" media="(min-width: 768px)" />
        <source srcset="{{ image.src | img_url: '404x474', crop: 'center' }} 2x, {{ image.src | img_url: '202x237', crop: 'center' }}" media="(min-width: 200px)" />
        <img class="lazyloadthisatsomepoint" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ product.featured_image.alt | escape }}" />
      </picture>
      {% endfor %}
  </a>
  <a href="{{ product.url }}">
    <p>{{ product.title }}</p>
    {% include 'arrow_right' %}
  </a>
</div>
