<ul class="site-nav flex" id="SiteNav">
  {% for link in linklists.main-menu.links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="column {{ link.title | handleize }}{% if link.active %} active{% endif %}" data-has-dropdowns>
        <div class="dropdown" id="navLabel-{{ child_list_handle }}">
          {% if three_level_nav %}
              <ul>
                {% if link.links != blank %}
                  {% for childlink in link.links %}
                    <li class="childlist_item">
                      <a href="{{ childlink.url }}"
                        class="link top_link child_link-parent"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="label">{{ childlink.title | escape }}</span>
                      </a>

                      {% if childlink.links != blank %}
                        <ul>
                        {% for grandchildlink in childlink.links %}
                          <li>
                            <a href="{{ grandchildlink.url }}"
                            class="link child_link"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>


          {% else %}
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}"
                  class="link child_link{% if forloop.last %} link_last{% endif %}"
                  {% if childlink.current %} aria-current="page"{% endif %}
                >
                    <span class="label">{{ childlink.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% else %}
      <li class="topnav{% if link.active %} active{% endif %}" id="navToggle-{{ link.title | handleize }}">
        <a href="{{ link.url }}" class="link link_main{% if link.active %} active{% endif %}" {% if link.current %} aria-current="page"{% endif %}>
          <span class="label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>