{%- assign text_alignments = section.settings.text_alignment | split: ' ' -%}
{%- assign text_horizontal_alignment = text_alignments.first -%}
{%- assign text_vertical_alignment = text_alignments.last | strip -%}
<div class="container hero_slides">
  <div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
    {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="carousel slideshowcarousel{% if section.blocks.size < 2 %} just-one{% endif %}" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1">
      
      
      {%- for block in section.blocks -%}
      <div class="carousel-cell slide--{{ block.id }}" {{ block.shopify_attributes }} id="shade_{{ block.settings.text_shade }}">
        <div class="hero__inner">
          <div class="absolute_cont">
            <div class="flex {{ block.settings.text_align }}">
              <div class="text {{ block.settings.text_align }} {{ block.settings.text_shade }}">              
                {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                {%- unless block.settings.slide_icon == blank -%}
                <div class="slide_icon">
                  {{ block.settings.slide_icon }}
                </div>
                {%- endunless -%}
                {%- unless block.settings.slide_title == blank -%}
                {%- if forloop.index == 1 -%}
                <h1>
                  {{ block.settings.slide_title | escape }}
                </h1>
                {%- else -%}
                <h2 class="h1">
                  {{ block.settings.slide_title | escape }}
                </h2>
                {%- endif -%}
                {%- endunless -%}
                
                {%- unless block.settings.subheading == blank -%}
                <div class="rte">
                  {{ block.settings.subheading }}
                </div>
                {%- endunless -%}
                {% endunless %}
                
                {%- assign show_link_button = false -%}
                {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                {%- assign show_link_button = true -%}
                {%- endif -%}
                {%- if show_link_button -%}
                <div class="slideshow__btn-wrapper{% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}">
                  <a href="{{ block.settings.button_link }}" class="btn slideshow__btn">
                    {{ block.settings.button_label | escape }}
                  </a>
                </div>
                {%- endif -%}
              </div>
              {%- assign the_image = block.settings.image -%}
              {%- assign mobimage = block.settings.image -%}
              {% include 'hero_image' %}
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
    
    {%- endif -%}
  </div>
</div>