{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}


{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}


<footer class="site-footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="site_footer inner grid">
    <div class="flex nuls">
      {%- for block in section.blocks -%}
          <div class="footer_item footer-{{ block.type }}">

            {%- case block.type -%}
              {%- when 'newsletter' -%}
              
              {%- if block.settings.title -%}
              <p class="h2">{{ block.settings.title | escape }}</p>
              {%- endif -%}
              
                <div class="site-footer__newsletter">
                  {% comment %}
                  {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="subscribe_block">
                    <div class="input-group floating-label {% if form.errors %} input-group--error{% endif %}">
                      <input type="email"
                        name="contact[email]"
                        id="{{ formId }}-email"
                        class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                        value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}>
                        <label for="contact[email]">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                      </div>
                        <button type="submit" class="btn newsletter__submit" name="commit" >
                          {% include 'arrow_right' %}
                          {% comment %}<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>{% endcomment %}
                        </button>
                        
                        {% if form.errors contains 'email' %}
                        <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                        </span>
                        {% endif %}
                        
                        <p class="subscribe_message">Yes I would like to receive emails about Ancient + Brave products, offers and events.<br> Sign up to receive 10% off your first order.</p>
                      </div>
                  {% endform %}
                  {% endcomment %}
                </div>

              {%- when 'text' -%}
                {%- if block.settings.title -%}
                  <strong>{{ block.settings.title | escape }}</strong>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="site-footer__rte">
                      {{ block.settings.text }}
                  </div>
                {%- endif -%}
                
                {%- when 'html' -%}
                {%- if block.settings.code != blank -%}
                  <div class="site-footer__rte code">
                      {{ block.settings.code }}
                  </div>
                {%- endif -%}

              {%- when 'link_list' -%}
                {%- if block.settings.title -%}
                  <strong class="product">{{ block.settings.title | escape }}</strong>
                {%- endif -%}
                {%- assign footer_linklist = block.settings.menu -%}
                  <ul class="footer_linklist
                            {% if inline_list %}list--inline{% endif %}">
                    {%- for link in linklists[footer_linklist].links -%}
                      <li class="footer_linklist-item">
                        <a href="{{ link.url }}"
                          {% if link.title == "Instagram" %} target="_blank"{% endif %}
                          {% if link.current %} aria-current="page"{% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>

            {%- endcase -%}

          </div>

      {%- endfor -%}
    </div>
  </div>


  <div class="footer_bar">
    <div class="flex inner">
      <div class="copyright">
        <small class="site-footer__copyright-content">&copy; {{ shop.name | link_to: routes.root_url }} {{ 'now' | date: "%Y" }}</small>
      </div>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Footer Content"
      }
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "en": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "en": "Text"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Talk about your business"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "en": "Text"
          },
          "default": {
            "en": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        }
      ]
    },
    {
      "type": "html",
      "name": {
        "en": "Custom HTML"
      },
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": {
            "en": "HTML"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "hi": "न्यूज़लेटर साइनअप",
        "it": "Iscriviti alla Newsletter",
        "ja": "ニュースレターの登録",
        "ko": "뉴스레터 신청",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Registo na newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "da": "Abonnenter bliver føjet til [kundelisten](/admin/customers?query=&accepts_marketing=1) for \"accepterer markedsføring\".",
            "de": "Abonnenten werden zu Ihrer Liste „akzeptiert Marketingmaterial“ hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu [lista de clientes.](/admin/customers?query=&accepts_marketing=1) \"acepta marketing\".",
            "fi": "Tilaajat lisätään \"hyväksyy markkinointi\" [-asiakasluetteloosi. ](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing ».",
            "hi": "सदस्यों को आपकी “मार्केटिंग स्वीकार करता है” [customer list.](/admin/customers?query=&accepts_marketing=1) में जोड़ दिया जाएगा",
            "it": "Gli iscritti verranno aggiunti al tuo [elenco clienti.](/admin/customers?query=&accepts_marketing=1) «accetta marketing»",
            "ja": "購読者は「マーケティングを受け入れる」[顧客リスト](/admin/customers?query=&accepts_marketing=1) に追加されます。",
            "ko": "가입자가 \"마케팅 수락\" [고객 목록.](/admin/customers?query=&accepts_marketing=1)에 추가됩니다.",
            "nb": "Abonnenter vil bli lagt til i «aksepterer markedsføring» [kundeliste.](/admin/customers?query=&accepts_marketing=1)",
            "nl": "Abonnees worden toegevoegd aan je \"accepteert marketing\" [klantenlijst.](/admin/customers?query=&accepts_marketing=1)",
            "pt-BR": "Os assinantes serão adicionados à “aceita marketing” [lista de clientes. ](/admin/customers?query=&accepts_marketing=1)",
            "pt-PT": "Os subscritores serão adicionados à sua lista de \"aceitam marketing\" [lista de clientes.](/admin/customers?query=&accepts_marketing=1)",
            "sv": "Prenumeranter läggs till i din \"accepterar marknadsföring\" [kundlista. ](/admin/customers?query=&accepts_marketing=1)",
            "th": "ระบบจะเพิ่มผู้สมัครใช้งานไปยังส่วน “ยอมรับการตลาด” ของคุณ [รายชื่อลูกค้า](/admin/customers?query=&accepts_marketing=1)",
            "zh-CN": "订阅者将被添加到您的“接受营销”[客户列表](/admin/customers?query=&accepts_marketing=1)中。",
            "zh-TW": "系統會將訂閱者新增至您的「接受行銷」[客戶清單。](/admin/customers?query=&accepts_marketing=1)"
          },
          "default": {
            "da": "Nyhedsbrev",
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fi": "Uutiskirje",
            "fr": "Newsletter",
            "hi": "न्यूज़लेटर",
            "it": "Newsletter",
            "ja": "ニュースレター",
            "ko": "뉴스레터",
            "nb": "Nyhetsbrev",
            "nl": "Nieuwsbrief",
            "pt-BR": "Newsletter",
            "pt-PT": "Newsletter",
            "sv": "Nyhetsbrev",
            "th": "จดหมายข่าว",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        }
      ]
    }
  ]
}
{% endschema %}

