<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section class="page-header">
  <header class="site-header flex justify-between items-center inner no-max" role="banner">
    <span class="logo flex">
      <a href="/">
        <span class="visually-hidden">{{ shop.name }}</span>
          {% include 'logo' %}
      </a>
    </span>
    <nav class="navigation" id="accessibleNav" role="navigation">
      {% include 'mega-nav' %}
    </nav>
    <div class="customer_actions flex nowrap">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a href="{{ routes.account_url }}" class="site-header_icon site-header_account">
            {% include 'icon-account' %}
            <span class="icon_fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
        {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header_icon site-header_account">
            {% include 'icon-account' %}
            <span class="icon_fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
        {% endif %}
      {% endif %}
      
      <button class="site-header_icon button nude toggle-search" id="searchToggle">
        {% include 'icon-search' %}
        <span class="icon_fallback-text">Search</span>
      </button>
      
      <a class="carttoggle" href="{{ routes.cart_url }}" alt="Your Shopping Cart" id="cartToggle">
        {% include 'icon-cart' %}
        <div data-ajax-cart-bind-state="cart.item_count" class="cart_number">
          {{ cart.item_count }}
        </div>
      </a>
    </div>
    <div class="menu_toggle">
      <button id="menuTrigger" class="button nude menuburger flex">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </button>
    </div>
  </header>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [

  ]
}
{% endschema %}
