<div data-section-id="{{ section.id }}" data-section-type="hero-section" class="hero-section {% if section.settings.border %} border{%- endif -%}">
    <div class="flex  text-{{ section.settings.text_color }}">
      <div class="text">
        {%- if section.settings.title != blank -%}
        <{{section.settings.header_tag}} class="h1">{{ section.settings.title | escape }} </{{section.settings.header_tag}}>
        {%- endif -%}
        {{ section.settings.text }}
      </div>
      
      {%- if section.settings.arrow_down != blank -%}
      <div class="downer">
        <button class="button nude" id="nextButton">
          {% include 'icon-arrow_down.liquid' %}
        </button>
      </div>
      {%- endif -%}
      
      
            
            {%- if section.settings.button_link != blank -%}
              <div class="cta">
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
              {%- capture ariaLabel -%}
                {{- section.settings.button_label -}}
                {%- if section.settings.button_link.type == 'frontpage_link' -%}
                  : {{ 'homepage.general.title' | t -}}
                {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                  : {{ 'collections.catalog.title' | t -}}
                {%- elsif section.settings.button_link.object.title -%}
                  : {{ section.settings.button_link.object.title -}}
                {%- endif -%}
              {%- endcapture -%}
  
              <a href="{{ section.settings.button_link }}"
                class="button alt"
                aria-label="{{ ariaLabel }}">
                {{- section.settings.button_label | escape -}}
              </a>
            {%- endif -%}
            </div>
          {%- endif -%}
    </div>
  {%- assign the_image = section.settings.image -%}
  {%- assign mobimage = section.settings.image -%}
  {%- if section.settings.mobimage != blank -%}
    {%- assign mobimage = section.settings.mobimage -%}
  {%- endif -%}
  {%- if section.settings.button_link != blank -%}
  <a href="{{ section.settings.button_link }}" aria-label="{{ ariaLabel }}">
  {%- endif -%}
  
  {% include 'hero_image' %}
  
  {%- if section.settings.button_link != blank -%}
  </a>
  {%- endif -%}
  
</div>
{%- if section.settings.lightheader -%}
<script>document.body.classList.add("lightheader");</script>
{%- endif -%}
{% schema %}
{
  "name": {
    "en": "Hero"
  },
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "image_picker",
      "id": "mobimage",
      "label": {
        "en": "Mobile Image ie portrait"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Title here"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button Label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button Link"
      }
    },
    {
      "type": "select",
      "id": "header_tag",
      "label": "Heading Type",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
         {
           "value": "h3",
           "label": "H3"
         }
      ],
      "default": "h2",
      "info": "Choose a header tag, leave as is if unsure"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Colour",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        }
      ],
      "default": "white",
      "info": "Choose a colour for text"
    },
    {
      "type": "checkbox",
      "id": "border",
      "label": {
        "en": "Add a border"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "lightheader",
      "label": {
        "en": "Make header text white"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Hero Story Page"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
