<div class="static_newsletter inner">
  <div class="signup">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="h3" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div class="email_form" {{ block.shopify_attributes }}>
            <div class="mailchimp-newsletter">
              <form action="{{ section.settings.chimp_url }}" method="post" id="mc-embedded-subscribe-form-news" name="mc-embedded-subscribe-form-news" class="validate flex" target="_blank">
                <div class="email_fields">
                  <label class="visibility-hidden" for="mce-EMAIL">Email Address</label>
                  <input type="email" name="EMAIL" placeholder="Email Address" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
                </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2d244c0df42a0431bd08ddea_aeaa9dd034" tabindex="-1" value=""></div>
                  <div class="submit_fields"><input type="submit" value="{%- if block.settings.button_text != blank -%}{{ block.settings.button_text }}{%- else -%}Subscribe{%- endif -%}" name="subscribe" id="mc-embedded-subscribe-news" class="button small maily"></div>
                  <div class="mc-status"></div>
              </form>
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Mailchimp Signup",
  "tag": "section",
  "class": "mc-newsletter-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Options for the static newsletter section"
    },
    {
      "type": "text",
      "id": "chimp_url",
      "label": {
        "en": "Mailchimp form url"
      }
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Join our community",
          "label": "Subscribe"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "message",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Sign up for 90% off</p>",
          "label": "Sign up message"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Email Form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Sign up",
          "label": "Sign up button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "MC Newsletter",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
