{{ 'styles-cart.css' | asset_url | stylesheet_tag }}

<div class="cart_page grid">
  <div class="cart_grid">
    <div class="cart_items">
      <div class="title-wrapper-with-link">
        <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
      </div>

    
      <form action="{{ routes.cart_url }}" class="cart_contents" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents" data-ajax-cart-section>
            {%- if cart != empty -%}
              <table class="cart-items" data-ajax-cart-section-scroll>
                <caption class="visually-hidden">{{ 'sections.cart.title' | t }}</caption>
                {% comment %}
                <thead>
                  <tr>
                    <th class="caption-with-letter-spacing" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                    <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                    <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                  </tr>
                </thead>
                {% endcomment %}
                <tbody>
                  {%- for item in cart.items -%}
                  {% assign item_index = forloop.index %}
                    <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                      <td class="cart-item__media">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1">
                            <picture class="productShots">
                                <source srcset="{{  item.image | img_url: '80x80', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '80x80', crop: 'center' }}" media="(min-width: 375px)" />
                                <source srcset="{{  item.image | img_url: '60x60', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '60x60', crop: 'center' }}" media="(min-width: 320px)" />
                              <img class="prod-shot" src="{{  item.image | img_url: '5x5', crop: 'center' }}" alt="{{  item.image.alt | escape }}" width="60" height="60" />
                            </picture>
                          </a>
                        {% endif %}
                      </td>
    
                      <td class="cart-item__details">
                        {%- if settings.show_vendor -%}
                          <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                        {%- endif -%}
    
                        <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>
    
                        {%- if item.original_price != item.final_price -%}
                          <div class="cart-item__discounted-prices">
                            <span class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </span>
                            <s class="cart-item__old-price product-option">
                              {{- item.original_price | money -}}
                            </s>
                            <span class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </span>
                            <strong class="cart-item__final-price product-option">
                              {{ item.final_price | money }}
                            </strong>
                          </div>
                        {%- else -%}
                          <div class="product-option">
                            {{ item.original_price | money }}
                          </div>
                        {%- endif -%}
    
                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                          <dl>
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                <div class="product-option">
                                  <dt>{{ option.name }}: </dt>
                                  <dd>{{ option.value }}</dd>
                                </div>
                              {%- endfor -%}
                            {%- endif -%}
    
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <div class="product-option">
                                  <dt>{{ property.first }}: </dt>
                                  <dd>
                                    {%- if property.last contains '/uploads/' -%}
                                      <a href="{{ property.last }}" class="link" target="_blank">
                                        {{ property.last | split: '/' | last }}
                                      </a>
                                    {%- else -%}
                                      {{ property.last }}
                                    {%- endif -%}
                                  </dd>
                                </div>
                              {%- endif -%}
                            {%- endfor -%}
                          </dl>
    
                          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                        {%- endif -%}
    
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in item.discounts -%}
                            <li class="discounts__discount">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </td>
    
                      <td class="cart-item__quantity">
                        <div class="flex nowrap items-center content-center ">
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <a data-ajax-cart-request-button
                            href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >
                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                           {% render 'icon-minus' %}
                          </a>

                            <input data-ajax-cart-quantity-input="{{ item_index }}"
                            name="updates[]" 
                            value="{{ item.quantity }}" 
                            type="number"
                            min="0"
                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                            id="Quantity-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                             />
                             <a data-ajax-cart-request-button 
                               href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"> 
                               <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                               {% render 'icon-plus' %}
                             </a>
    
     
                            <a href="{{ item.url_to_remove }}" class="remove" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                              {% render 'icon-remove' %}
                            </a>
       
                        </div>
                        <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert" data-ajax-cart-messages="{{ item.key }}">
                        </div>
                      </td>
    
                      <td class="cart-item__totals right small-hide">
    
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}
    
                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.variant.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                {{- item.variant.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.variant.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            {%- endif -%}
          </div>
        </div>
    
        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
      </form>
    </div>
    
    <div class="cart_footer">
      
      {%- if shop.customer_accounts_enabled and customer == nil -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
      
      {%- if settings.show_cart_note -%}
        <textarea data-ajax-cart-property-input
          name="note" 
          placeholder="Cart note">
          {{ cart.note }}
        </textarea>
      {%- endif -%}
    
          <div class="cart__blocks">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'subtotal' -%}
                  <div class="js-contents" {{ block.shopify_attributes }}>
                    <div class="totals">
                      <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                      <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                    </div>
    
                    <div>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
    
                    <small class="tax-note caption-large rte">
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </small>
                  </div>
                {%- else -%}
                  <div class="cart__ctas" {{ block.shopify_attributes }}>
                    <noscript>
                      <button type="submit" class="button alt" form="cart">
                        {{ 'sections.cart.update' | t }}
                      </button>
                    </noscript>
    
                    <button type="submit" id="checkout" class="button large" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                  </div>
    
                  {%- if additional_checkout_buttons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>

  </div>
</div>

    {% schema %}
{
  "name": "Cart Page",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}