{%- if comment.status == 'pending' -%}
  {%- assign number_of_comments = article.comments_count | plus: 1 -%}
{%- else -%}
  {%- assign number_of_comments = article.comments_count -%}
{%- endif -%}

<article class="page-width blog-article" aria-labelledby="title-0">
  <div class="hero-section expand">
    <div class="flex">
      <div class="text">
        <h1 class="article__title" id="title-0">{{ article.title }}</h1>
      </div>
    </div>
  {%- if article.image -%}
  {%- assign the_image = article.image -%}
  {%- assign mobimage = article.image -%}
  {% include 'hero_image' %}
  
  {%- endif -%}
  
  </div>
  
  <div class="article_text">
  <div class="rte mininner">
    {{ article.content }}
    <div class="article_meta">
      {% if section.settings.blog_show_author %}
      <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
    {% endif %}
  
    {% if section.settings.blog_show_date %}
      <span class="article__date">
        {{ article.published_at | time_tag: format: 'date' }} 
      </span>
    {% endif %}
    </div>
  
  <div class="static_newsletter inarticle inner">
    <div class="signup">
      <h3 class="h3">{{ section.settings.mc_heading | escape }}</h3>
      <div class="newsletter__subheading rte">{{ section.settings.mc_text }}</div>
      <div class="email_form">
        <div class="mailchimp-newsletter">
          <form action="{{ section.settings.chimp_url }}" method="post" id="mc-embedded-subscribe-form-news" name="mc-embedded-subscribe-form-news" class="validate flex" target="_blank">
            <div class="email_fields">
              <label class="visibility-hidden" for="mce-EMAIL">Email Address</label>
              <input type="email" name="EMAIL" placeholder="Email Address" id="mce-EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
            </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2d244c0df42a0431bd08ddea_aeaa9dd034" tabindex="-1" value=""></div>
              <div class="submit_fields"><input type="submit" value="{%- if section.settings.mc_button_text != blank -%}{{ section.settings.mc_button_text }}{%- else -%}Subscribe{%- endif -%}" name="subscribe" id="mc-embedded-subscribe-news" class="button small maily"></div>
              <div class="mc-status"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}
  
    <div class="backnav">
      <a class="button nude" href="{{ blog.url }}">
        {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
      </a>
    </div>
  
  </div>
  
  </div>
</article>



{% if blog.comments_enabled? %}
  {% if number_of_comments > 0 %}
    <div class="mininner">
        <div class="comments">
          <h2 class="h3">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h2>

          {% paginate article.comments by 5 %}

            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">
              <ul class="comments">
                {% comment %}
                  If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment.status == 'pending' %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment', comment: comment %}
                  </li>
                {% endif %}

                {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment">
                    {% include 'comment', comment: comment %}
                  </li>
                {% endfor %}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% include 'pagination', paginate: paginate %}
              {%- endif -%}

            </div>
          {% endpaginate %}
        </div>
    </div>
  {% endif %}

  <div class="mininner">
      <div class="new_comment">
        <div class="comment-form form-vertical">
          {% form 'new_comment', article %}

            {%- assign formId = 'CommentForm' -%}

            <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

            {%- assign post_message = 'blogs.comments.success' -%}
            {%- if blog.moderated? and comment.status == 'pending' -%}
              {%- assign post_message = 'blogs.comments.success_moderated' -%}
            {%- elsif comment.status == 'unapproved' or comment.status == 'spam' -%}
              {%- assign post_message = 'blogs.comments.unapproved' -%}
            {%- endif -%}

            {% include 'form-status', form: form, form_id: formId, success_message: post_message %}

            <div class="form_container">

              <div class="input_item">
                <label for="{{ formId }}-author">{{ 'blogs.comments.name' | t }}</label>
                <input type="text" name="comment[author]" id="{{ formId }}-author" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}"{% if form.errors contains 'author' %} aria-invalid="true" aria-describedby="{{ formId}}-author-error"{% endif %}>
                {% if form.errors contains 'author' %}
                  <span id="{{ formId}}-author-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ 'blogs.comments.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </span>
                {% endif %}
              </div>

              <div class="input_item">
                <label for="{{ formId }}-email">{{ 'blogs.comments.email' | t }}</label>
                <input type="email" name="comment[email]" id="{{ formId }}-email" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="{{ formId}}-email-error"{% endif %}>
                {% if form.errors contains 'email' %}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {% endif %}
              </div>

              <div class="input_item">
                <label for="{{ formId }}-body">{{ 'blogs.comments.message' | t }}</label>
                <textarea name="comment[body]" id="{{ formId }}-body" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}"{% if form.errors contains 'body' %} aria-invalid="true" aria-describedby="{{ formId}}-body-error"{% endif %}>{{ form.body }}</textarea>
                {% if form.errors contains 'body' %}
                  <span id="{{ formId}}-body-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ 'blogs.comments.message' | t }} {{ form.errors.messages['body'] }}.</span>
                  </span>
                {% endif %}
              </div>

            </div>

            {% if blog.moderated? %}
              <p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
          {% endform %}
        </div>
      </div>
  </div>
{% endif %}


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ settings.share_image.height | json }},
        "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ settings.share_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script> 

{% schema %}
{
  "name": {
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "hi": "पोस्ट",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_mc",
      "label": "Show Mailchimp signup",
      "default": false
    },
    {
      "type": "text",
      "id": "mc_heading",
      "label": "Mailchimp block title"
    },
    {
      "type": "richtext",
      "id": "mc_text",
      "label": "Mailchimp block text"
    },
    {
      "type": "text",
      "id": "mc_button_text",
      "label": "Mailchimp button text"
    },
    {
      "type": "text",
      "id": "chimp_url",
      "label": "Mailchimp audience url"
    }
  ]
}
{% endschema %}
