{{ 'styles-cart.css' | asset_url | stylesheet_tag }}

<div class="cart_page">
    <div class="cart_items">
      <div class="cart_title flex justify-start content-center items-center">
        <h1 class="h2">{{ 'sections.cart.title' | t }}</h1> <div class="title_items"><span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span> Item{%- if cart.item_count > 1 -%}s{%- endif -%}</span></div>
        {% comment %}
        <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
        {% endcomment %}
      </div>

    
      <form action="{{ routes.cart_url }}" class="cart_contents" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}" data-ajax-cart-section>
            {%- if cart != empty -%}
              <div class="cart-items" data-ajax-cart-section-scroll>
                  {%- for item in cart.items -%}
                  {% assign item_index = forloop.index %}
                    <div class="cart-item flex" id="CartItem-{{ item.index | plus: 1 }}">
                      <div class="cart-item__media">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1">
                            <picture class="productShots">
                                <source srcset="{{  item.image | img_url: '187x267', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '187x267', crop: 'center' }}" media="(min-width: 375px)" />
                                <source srcset="{{  item.image | img_url: '187x267', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '187x267', crop: 'center' }}" media="(min-width: 320px)" />
                              <img class="prod-shot" src="{{  item.image | img_url: '3x4', crop: 'center' }}" alt="{{  item.image.alt | escape }}" width="187" height="267" />
                            </picture>
                          </a>
                        {% endif %}
                      </div>
                      <div class="cart-item_data flex justify-between content-end items-end">
                        <div class="cart-item__details flex justify-start">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                          {%- endif -%}
      
                          <a href="{{ item.url }}" class="h3">{{ item.product.title | escape }}</a>
      
                          {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                            <div class="options">
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <span class="visually-hidden">{{ option.name }}: </span>
                                    <span class="option uppercase">{{ option.value }}</span>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}
                              {% comment %}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <span class="visually-hidden">{{ property.first }}: </span>
                                    <span class="option uppercase">
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" class="link" target="_blank">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </span>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                              
                              <div class="product-option"><p>{{ item.selling_plan_allocation.selling_plan.name }}</p></div>
                              {% endcomment %}
                            </div>
      
                            
                          {%- endif -%}
                          <div class="costs">
                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices prices normal">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option normal">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option prices normal">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                          
                          <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                            {%- for discount in item.discounts -%}
                              <li class="discounts__discount">
                                {%- render 'icon-discount' -%}
                                {{ discount.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                          </div>
                        </div>
  
                        <div class="cart-item__quantity">
                          <div class="flex nowrap items-center content-center justify-start">
                            <label class="uppercase label" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>

  
                              <input data-ajax-cart-quantity-input="{{ item_index }}"
                              name="updates[]" 
                              value="{{ item.quantity }}" 
                              type="number"
                              min="0"
                              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                              id="Quantity-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                               />

         
                          </div>
                          <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert" data-ajax-cart-messages="{{ item.key }}">
                          </div>
                        </div>
 

                        <a href="{{ item.url_to_remove }}" class="remove flex justify-start items-center label uppercase" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          {% include 'icon-close' %} Remove
                        </a>
                        
                        {% comment %}
                        <div class="cart-item__totals">
      
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <dl class="cart-item__discounted-prices">
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </dt>
                                <dd>
                                  <s class="cart-item__old-price price price--end">
                                    {{ item.original_line_price | money }}
                                  </s>
                                </dd>
                                <dt class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </dt>
                                <dd class="price price--end">
                                  {{ item.final_line_price | money }}
                                </dd>
                              </dl>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}
      
                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                        {% endcomment %}
                      </div>
                    </div>
                  {%- endfor -%}
              </div>
            {%- endif -%}
        </div>
    
        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
      </form>
    </div>
    
    <div class="cart_footer text-center">
      {% comment %}
      {%- if shop.customer_accounts_enabled and customer == nil -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
      
      {%- if settings.show_cart_note -%}
        <textarea data-ajax-cart-property-input
          name="note" 
          placeholder="Cart note">
          {{ cart.note }}
        </textarea>
      {%- endif -%}
      {% endcomment %}
      
          <div class="cart__blocks">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'subtotal' -%}
                  <div class="js-contents" {{ block.shopify_attributes }}>
                    <div class="totals">
                      {% comment %}
                      <h2 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                      {% endcomment %}
                      <p class="h3 normal">Total: {{ cart.total_price | money }}</p>
                    </div>
    
                    <div>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
    
                    <small class="tax-note caption-large rte">
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </small>
                  </div>
                {%- else -%}
                  <div class="cart__ctas" {{ block.shopify_attributes }}>
                    <noscript>
                      <button type="submit" class="button alt" form="cart">
                        {{ 'sections.cart.update' | t }}
                      </button>
                    </noscript>
    
                    <button type="submit" id="checkout" class="button large" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                  </div>
    
                  {%- if additional_checkout_buttons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
</div>

    {% schema %}
{
  "name": "Cart Page",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}