{{ 'styles-searchpage.css' | asset_url | stylesheet_tag }}
{% paginate search.results by 30 %}

<div class="inner search_page {% if search.results_count > 0 %} results {% endif %}">
      <h1 class="text-center">Search</h1>

        <div class="flex">
          {% if search.performed and search.results_count == 0 %}
            <div class="rte">
              <p>No results found</p>
            </div>
          {% endif %}
          <form action="{{ routes.search_url }}" method="get" role="search" class="flex search_page_form">
                <input
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="Search here"
                  role="combobox"
                />
              <button type="submit" class="button nude" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
                {% include 'icon-search' %}
              </button>
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

          </form>
        </div>

</div>


{% if search.performed %}
  {% if search.results_count > 0 %}
    <div class="text-center">{{ search.results_count }} results</div>
  {% endif %}

  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>

  <div class="inner search_results collection_grid product-grid">
    {% for item in search.results %}
        {% if item.object_type == 'product' %}
          {% include 'product-card-grid', product: item %}
        {% else %}
          <div class="product-card">
            <a href="{{ item.url }}" class="full-width-link">
              <span class="visually-hidden">{{ item.title }}</span>
            </a>
            <div class="list-view-item__link">
              <div class="list-view-item__image-column">
                <div class="list-view-item__image-wrapper product-card__image-wrapper">
                  {% unless item.image == null %}
                    <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                  {% endunless %}
                </div>
              </div>

              <div class="list-view-item__title-column">
                <div class="list-view-item__title" aria-hidden="true">
                  <span class="product-card__title">{{ item.title }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}
{% endif %}

{% if search.results_count < 2  %}
  <div class="search--less-than-2-results"></div>
{% endif %}

{% endpaginate %}

{% schema %}
{
  "name": "Search"
}
{% endschema %}