{{ 'styles-collections.css' | asset_url | stylesheet_tag }}

<div id="shopify-section-collection-template" class="collection-template">
  {% unless collection.image %}
  <h1 class="visibility-hidden">{{ collection.title }}</h1>
  {% endunless %}
  <div data-section-id="{{ section.id }}" data-section-type="collection-template" class="collectionpage grid inner">
  
  {% if collection.image %}
  <div class="collection_banner">
    
    <div class="collection_header flex content-center">
      <div class="text">
        <h1 class="h3">{{ collection.title }}</h1>
        {%- if collection.description -%}
        <div class="rte" {{ block.shopify_attributes }}>
          <span>{{ collection.description }}</span>
        </div>
        {%- endif -%}
      </div>
    </div>
    
    <div class="collection_image">
      {% assign desk_image = collection.metafields.custom.desktop_image  %}
      {% assign tab_image = collection.metafields.custom.tablet_image  %}
      {%- assign image = collection.image -%}
      
      {%- if desk_image -%}
      {%- assign desktop = desk_image -%}
      {%- else -%}
      {%- assign desktop = collection.image -%}
      {%- endif -%}
      
      {%- if tab_image -%}
      {%- assign tablet = tab_image -%}
      {%- else -%}
      {%- assign tablet = collection.image -%}
      {%- endif -%}
      
      {% include 'hero_collection' %}
  
    </div>
  </div>
  {% endif %}
  
  <div class="filters">
    <button id="filterToggle" class="mob_filter-toggle button nude plus_left">Refine Elements</button>
    <aside aria-labelledby="verticalTitle" class="facets-wrapper" id="main-collection-filters" data-id="{{ section.id }}">
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
    </aside>
    
  </div>
  <div class="product-grid-container" id="ProductGridContainer">
    {% paginate collection.products by 40 %}
    <div class="collection">
      <div class="collection_grid product-grid" id="product-grid" data-id="{{ section.id }}"> 
        {% for product in collection.products %}
            {% include 'product-card-grid' %}
        {% endfor %}
      </div>
      {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    {% if collection.products_count == 0 %}
      <div class="nuffin">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
    
  </div>
  {% endpaginate %}
</div>

<button id="filterCloser" class="filterCloser button nude"><span class="visually-hidden">Close filter dialogue</span></button>


<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

</div>

</div>

{% schema %}
{
  "name": {
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "hi": "कलेक्शन पेज",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "class": "main_collections_section"
}
{% endschema %}
