<div class="dropdown guide inner" id="guideDrop">
   <nav class="nav-dropper">
   {%- if section.settings.title != blank -%}
   <h2 class="h3">{{ section.settings.title | escape }}</h2>
   {%- endif -%}
   
   {% assign blockCount = 0 %}
   {% for block in section.blocks %}
      {% assign blockCount = blockCount | plus: 1 %}
   {% endfor %}
    <ul class="flex justify-between num-{{ blockCount }}">  
      {% for block in section.blocks limit: 5 %}
      {%- case block.type -%}
      {%- when 'image' -%}
      <li class="image">
          {% if block.settings.block_url != blank %}
          <a href="{{ block.settings.block_url }}">
            {% endif %}
            
          {% if block.settings.image != blank %}
            {%- assign image = block.settings.image -%}
            {% if block.settings.image_size == 'one' %}
              {% include 'nav-image-one' %}
            {% elsif block.settings.image_size == 'two' %}
              {% include 'nav-image-two' %}
            {% elsif block.settings.image_size == 'two' %}
              {% include 'nav-image-three' %}
            {% elsif block.settings.image_size == 'two' %}
              {% include 'nav-image-four' %}
            {% endif %}
          {% endif %}
          
          <div class="text titles_down">
            <span class="h3">
                {% if block.settings.title_image != blank %}
                {{ block.settings.title_image }}
                {% endif %}
            </span>

          </div>
              {% if block.settings.block_url != blank %}
            </a>
            {% endif %}
        </li>
        {%- when 'menu' -%}
        <li class="menu">
          {%- if block.settings.title -%}
            <span class="h3">{{ block.settings.title | escape }}</span>
          {%- endif -%}
          {%- assign linklist = block.settings.menu -%}
            <ul class="linklist">
              {%- for link in linklists[linklist].links -%}
                <li class="linklist-item">
                  <a href="{{ link.url }}"
                    {% if link.current %} aria-current="page"{% endif %}
                  >
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
        </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

 </div>


{% schema %}
{
  "name": {
    "en": "Nav Dropdown Guide"
  },
  "class": "dropdown-nav guide-nav",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Choose Your Base",
      "label": "t:sections.featured-collection.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
           "type": "text",
           "id": "title_image",
           "label": "Title"
        },
        {
          "id": "block_url",
          "type": "url",
          "label": {
            "en": "Block link url"
          }
        },
        {
          "type": "select",
          "id": "image_size",
          "options": [
            {
              "value": "one",
              "label": "1 Column"
            },
            {
              "value": "two",
              "label": "2 Columns"
            },
            {
              "value": "three",
              "label": "3 Columns"
            },
            {
              "value": "four",
              "label": "4 Columns"
            }
          ],
          "default": "one",
          "label": "Image width"
        }
      ]
    },
    {
      "type": "menu",
      "name": {
        "en": "menu"
      },
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
           "type": "text",
           "id": "title",
           "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Guide Dropdown"
      }
    }
  ]
}
{% endschema %}
